body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* General CSS */

.sbp {
	display: flex;
	gap: 8px;
	justify-content: space-between;
}

input,
button {
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	margin-right: 5px;
}
button {
	cursor: pointer;
}

/* // General and Minimal CSS Styles  */

.play_date_requests {
	padding-left: 15px;
}
