.dogs {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.add_dog {
	margin-top: 25px;
	background-color: gray;
	width: 400px;
	border-radius: 10px;
	padding: 20px;
}
.add_dog input {
	display: block;
	border-radius: 5px;
	padding: 5px 10px;
	border: none;
	width: 100%;
}
.btn_submit {
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: peru;
	border: none;
}

.row {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
